body
  margin: 0
  padding: 0

header
  background: url("/img/header_bg.png")
  background-color: #000032
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  background-blend-mode: lighten
  min-height: 100vh

.header-title-container
  display: flex
  width: 80%
  margin: 0 auto
  padding-top: 150px

.header-title-box
  max-width: 700px
  h1
    font-size: 55px
    margin: 0
  &__VR-graph
    margin-left: 40px

    &__shine-first
      position: absolute
      color: rgba(2, 203, 203, 0.4)
      margin-left: 2px
      margin-top: 4px

    &__shine-second
      position: absolute
      color: rgba(250, 51, 46, 0.4)
      margin-left: 8px

    &__shine-third
      position: relative
      color: #FFFFFF
      margin-left: 5px
      top: 2px

  &__subtitle
    max-width: 480px
    font-size: 17px
    line-height: 24px
    letter-spacing: 0.04em
    text-transform: uppercase
    color: rgba(255, 255, 255, 0.8)
    margin-left: 48px
    font-family: 'Helvetica Neue Cyr'
.header-VR-img
  width: 500px
  position: absolute
  left: 55%

.header-bottom-box
  display: flex
  width: 80%
  margin: 0 auto
  margin-top: 250px
  text-align: center
  letter-spacing: 0.08em
  text-transform: uppercase
  padding-bottom: 40px

  &__txt
    color: white
    padding-right: 50px
    font-size: 14px
    line-height: 14px
    font-family: 'Helvetica Neue Cyr'
    font-weight: bold

  &__slash
    color: #1E4FC6
    font-size: 22px
    line-height: 22px

@media screen and (max-width: 1200px)
  .header-title-container
    width: 100%
    justify-content: space-between
  .header-title-box
    margin-left: 100px
  .header-VR-img
    width: 480px
    left: 58%

@media screen and (max-width: 1150px)
  .header-title-box
    margin-left: 50px

  .header-VR-img
    width: 430px
@media screen and (max-width: 1025px)
  .header-title-box
    h1
      font-size: 45px
    &__subtitle
      margin-left: 20px
  .header-VR-img
    position: inherit
  .header-bottom-box
    margin-top: 140px

@media screen and (max-width: 980px)
  header
    background: url("/img/bg-header(tablet).png")
    background-repeat: no-repeat
    background-size: cover
    background-position: top
  .header-bottom-box
    margin-top: 140px
    padding-bottom: 56px
  .header-title-container
    flex-direction: column-reverse
    margin: 100px auto
    align-items: center

  .header-title-box
    h1
      font-size: 55px
  .header-VR-img
    width: 520px

@media screen and (max-width: 710px)

  .header-VR-img
    width: 70%

  .header-bottom-box
    margin-top: 30px
    flex-direction: column
    text-align: start
    width: 60%
  .header-title-box
    &__VR-graph
      margin: 0

@media screen and (max-width: 630px)
  .header-VR-img
    width: 90%
  .header-title-box
    margin: 0 auto
    max-width: 450px
    width: 90%
    h1
      font-size: 40px
      margin: 0 auto
    &__subtitle
      margin: 10px 0

  .header-bottom-box
    width: 90%
    margin: 0 auto
    font-size: 12px
    &__txt
      font-size: 12px

@media screen and (max-width: 500px)
  .header-VR-img
    width: 85%
    margin-left: 10px
  .header-title-box
    width: 90%
    h1
      font-size: 35px
    &__subtitle
      font-size: 13px

  .header-bottom-box__txt
    padding: 0
