.team-section
    overflow-x: hidden
    h2
        font-size: 48px
        letter-spacing: 0.02em
        padding-top: 180px
        width: 85%
        margin: 0 auto

.team-slider
    padding-top: 40px
.team-slide-wrapper
    padding: 0 10px
    transition: opacity 0.2s linear
    display: flex
    &:nth-child(2n)
        padding-top: 30px

    img
        max-width: 100%
        margin-bottom: 12px
    span
        color: white
        font-size: 20px
        line-height: 26px
        font-family: 'Neue Machina'
.slider-numbers-and-arrows
    width: 85%
    margin: 45px auto
    display: flex
    justify-content: space-between
.slide-numbers
    color: white
    font-size: 25px
    user-select: none
.team-slider__controls
    display: flex
    width: 244px
    height: 58px
    justify-content: space-around
    border: 1px solid rgba(255, 255, 255, 0.1)
    box-sizing: border-box
    border-radius: 67px
    align-items: center
    svg
        cursor: pointer
        fill: grey
        transition: .5s
        &:hover
            fill: white

@media screen and ( max-width: 1399px )
    .team-slider
        width: 90%
        position: relative
        right: -1%
        display: flex
        justify-content: space-between
        align-items: flex-end
